<nav>
  <ul>
    <% for (var i in theme.menu){ %>
      <li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
    <% } %>
	    <% for (var i in theme.menu_pages){ %>
      <li><a href="<%- config.root %><%- theme.menu_pages[i] %>"><%= i %></a></li>
    <% } %>
  </ul>
</nav>